body {
  font-family: "Poppins", sans-serif;
  background: #f5f8ff;
  color: #333;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #3a6ea5;
  color: white;
  padding: 30px 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

h1 {
  margin-bottom: 10px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  gap: 15px;
}

.botao {
  background: #5fa8d3;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  border-radius: 8px;
  transition: 0.3s;
}

.botao:hover {
  background: #337ab7;
}

.conteudo {
  padding: 40px;
  max-width: 800px;
  margin: auto;
  text-align: justify;
}

footer {
  margin: 40px 0;
}

.voltar {
  background: #3a6ea5;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 6px;
  transition: 0.3s;
}

.voltar:hover {
  background: #244a72;
}
